:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

body {
  line-height: 1.5;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

div.twoColumn {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}
div.twoColumn > div.left {
  background-color: #f5f5f5;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
div.twoColumn > div.right {
  background-color: #ffffff;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

div.sidebarMain {
  display: flex;
  height: 100vh;
}

div.sidebarMain > div.main {
  padding: 2rem;
}

.side > * {
  padding-left: 2rem;
  padding-right: 2rem;
}

div.nav {
  padding-top: 1rem;
}

.side ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.side li {
  margin: 0.25rem 0;
}
.side a {
  padding: 0.5rem;
}

.side {
  background-color: #f7f7f7;
  width: 18%;
}

div.main {
  display: flex;
  flex-direction: column;
  width: 82%;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
}

div.logo {
  margin: 0 2rem;
}
div.logout {
  margin: 0 2rem;
}

td {
  text-align: center;
}
